body{
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* HEADER */
.header__img {
    height: 48px;
    width: 48px;
}
header{
    padding: 20px;
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 25px rgba(0,0,0,0.15);
        box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}
/* FOOTER */
footer {
    padding: 20px;

/* FOOTER */
}
 .page {
     overflow: hidden;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 .content {
     max-height: 100vh;
     margin: 0 auto;
     padding: 40px 20px;

     flex: 1 1 auto;
 }